body {
    background-color:blanchedalmond;
}
h1 {
    font-family: 'Franklin Gothic Medium';
    color: rgb(77, 60, 60);
}
body {
    font-family: 'Lucida Sans Unicode';
    color: rgb(148, 123, 123);
}